@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: 100%;
  width: 100%;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
body{
  background-color: #2A0D3C;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pincipal{
  display: block;
  text-align: center;
}
.logo{
  position: relative;
  top: -50px;
  max-width: 100%;
  height: auto;
  left: 65px;
}

#login{
  background-color: #021fd9;
  color: white;
  width: 150px;
  height: 60px;
  left: 65px;
  position: relative;
  text-align: center;
  margin-bottom: 10px; /* Espaçamento entre os botões */
}
#registrar{
  background-color: #021fd9;
  color: white;
  width: 150px;
  height: 60px;
  top: 80px;
  right: 84px;
  position: relative;
  text-align: center;
  margin-bottom: 10px; /* Espaçamento entre os botões */
  margin-top: 10px;
}
